.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link {
  margin: 0;
  text-decoration: none;
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
  opacity: 1;
  border-bottom-color: transparent;
  transition: opacity 0.3s ease;
}

@media (max-width: 767px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}

