.intro {
  padding-top: 92px;
  padding-left: 148px;
  max-width: 699px;
  align-self: flex-start;
}

@media (max-width: 1279px) {
  .intro {
    padding-left: 48px;
  }
}

@media (max-width: 1023px) {
  .intro {
    padding-left: 24px;
    padding-top: 88px;
  }
}

@media (max-width: 767px) {
  .intro {
    padding: 64px 16px 0;
  }
}
